<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Высота призмы</title>
</head>
<body>
<h4>Для нахождения объёма правильной усечённой пирамиды нужно одну треть умножить на всоту<br>умножить на
    сумму площади верхнего основания, площади нижнего основания и корня произведений площадей оснований</h4>
<p>Чтобы найти это расстояние при известной длиной бокового ребра и длиной </p>
<p></p>

<form action="/" method="GET">
    Высота: <input type="number" name="H"><br>
    Площадь нижнего основания : <input type="number" name="S1"><br>
    Площадь вверхнего основания: <input type="number" name="S2"><br>
    <input type="submit" value="Рассчитать">
    <br>
    <h1>Ответ: {{answer}} </h1>

</form>
</body>
</html>